<% if(message && message.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h3><%= message %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

  <% } %>