<nav class="navbar sticky-top mt-0 navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid bg-danger">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
       <div class="navbar-nav">
        <a href="/"  class="nav-link">Home</a>
        <a href="/camps" class="nav-link">All Campgrounds</a>
        <a href="/camps/new" class="nav-link">Create New Campground</a>
       </div>
        <div class="navbar-nav ms-auto">
          <a href="/login" class="nav-link">LogIn</a>
          <a href="/register" class="nav-link">Register</a>
          <a href="/logout" class="nav-link">LogOut</a>
        </div>
      </div>
    </div>
  </nav>

