<% layout('layouts/boilerplate') %> 

    <h1><%=camp.title %> </h1>
    <h2><%= camp.location %> </h2>
    <p><a href="/camps/<%= camp._id %>/edit ">Edit Page</a></p>
    <div>
        <a href="/camps">All camps</a>
    </div>
    <form action="/camps/<%= camp._id %>?_method=delete" method="post">
        <button>Delete</button>
    </form>
