<% layout('layouts/boilerplate') %> 

    <h1>Edit Campground</h1>
    <div>
        <form action="/camps/<%= camp._id %>?_method=put" method="post">
            <div>
                <label for="name">Edit Campground Name</label>
                <input type="text" name="campground[title]" id="name" value="<%= camp.title %> ">
            </div>
            <div>
                <label for="loc">Edit Campground Location</label>
                <input type="text" name="campground[location]" id="loc" value="<%= camp.location %> ">
            </div>
            <button>Update</button>
        </form>
    </div>
    <a href="/camps">Back to all Camps</a>
