<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All CampGrounds</title>
</head>
<body>
    <h1>All CampGrounds</h1>
    <ul>
        <% for(let c of camp){ %> 
        <li><a href="camps/<%= c._id %> "><%= c.title %> </a> </li>    
        <% } %> 
    </ul>
    <a href="/camps/new">Create new campground</a>
</body>
</html>