<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center text-danger">Create New Campground</h1>
    <div class="col-6 offset-3">
        <div>
            <form action="/camps" method="post" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Enter Campground Name</label>
                    <input class="form-control" type="text" name="campground[title]" id="name" required>
                    <div class="valid-feedback">
                        Look's Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="loc">Enter Campground Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="loc" required>
                    <div class="valid-feedback">
                        Look's Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="p">Enter Campground Price</label>
                    <input class="form-control" type="number" name="campground[price]" id="p" required>
                    <div class="valid-feedback">
                        Look's Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="desc">Enter Campground Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="desc" required></textarea>
                    <div class="valid-feedback">
                        Look's Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="img">Campground Url</label>
                    <input class="form-control" type="text" name="campground[image]" id="img" required>
                    <div class="valid-feedback">
                        Look's Good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-danger">submit</button>

                </div>
            </form>
        </div>
        <a class="btn btn-primary mb-2" href="/camps">Back to all Camps</a>
    </div>
</div>
<script>
    (function () {
        'use strict'
      
        var forms = document.querySelectorAll('.validated-form')
      
       
        Array.from(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
      
              form.classList.add('was-validated')
            }, false)
          })
      })()
</script>


