<% layout('layouts/boilerplate') %> 

    <h1>Create New Campground</h1>
    <div>
        <form action="/camps" method="post">
            <div>
                <label for="name">Enter Campground Name</label>
                <input type="text" name="campground[title]" id="name">
            </div>
            <div>
                <label for="loc">Enter Campground Location</label>
                <input type="text" name="campground[location]" id="loc">
            </div>
            <button>submit</button>
        </form>
    </div>
    <a href="/camps">Back to all Camps</a>
