<% layout('layouts/boilerplate') %> 


<form action="/login" class="validated-form" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Enter UserName</label>
        <input class="form-control" type="text" name="username" id="username" required>
        <div class="valid-feedback">
            Look's Good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="pass">Enter password</label>
        <input class="form-control" type="password" name="password" id="pass" required>
        <div class="valid-feedback">
            Look's Good!
        </div>
    </div>
    <button class="btn btn-success">Submit</button>
</form>
